
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&family=Montserrat:wght@500&display=swap');

:root {
  --basic: #eceff1;
  --basic-200: #e0e1e4;
  --basic: #ffffff;
  --basic-100: #ffffff;
  --primary: #00a818;
  --primary-500: #00a818;
  --primary: #546e7a;
  --primary-600: #546e7a;
  --primary: #37474f;
  --primary-900: #37474f;
}

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  font-family: 'Inter', sans-serif;
}